.greeting-container{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    .greeting-container{
        flex-direction: column-reverse;
    }
}




@media screen and (max-width:460px){

    .messaeg-container > .nes-ballon {
        padding: 0.5rem 1rem!important;
    }

    .nes-cointainer > p {
        font-size: small;
    }

}