main{
    min-width: 486px;
    margin: 0px!important;
}

.main-container{
    padding:1rem;
    padding-top: 5rem;
    background-color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: url(/Image/556529.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and  (max-width:975px){

   
    
}


@media screen and (max-width:490px){

    .main-container{
        padding-top: 4rem;
    }

}