

#main-contact:before{
    background: url(/images/background3.jpg) no-repeat center center/cover;
}

main h1{
    font-size: 4rem;
}

form{
    width: 100%;
}

.main-container{
    padding-top: 5rem;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%
}
.form-container input{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.textarea{
    max-width:80%;
    width: 30rem;
    resize: none;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    font-size: 1rem;
    max-height:20vh;
    height: 20vh;
}
.button{
    margin: 0.5rem;
    padding:0.2rem;
}

@media screen and (max-width:960px){
    main h1{
        font-size: 3rem;
    }

    .social-media{
        margin-top: 2rem;
    }
}
 
